
<form data-ng-init="load()" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Find Food</legend>

<!-- Text inputs-->

<div class="form-group" ng-repeat="f in formTextData">
  <label class="{{f.labelClass}}" for="{{f.labelFor}}">{{f.name | uppercase}}</label>
  <div class="{{f.divClass}}">
    <input id="{{f.id}}" name="{{f.name}}" type="{{f.type}}" placeholder="{{f.placeholder}}" class="{{f.class}}">
  </div>
</div>

  
<!-- Select Inputs -->
<div class="form-group" ng-repeat="f in formSelectData">
  <label class="{{f.labelClass}}" for="{{f.labelFor}}">{{f.name | uppercase}}</label>
  <div class="{{f.divClass}}">
    <select id="{{f.id}}" name="{{f.id}}" class="{{f.selectClass}}">
      <option ng-repeat="o in f.selectOptions" value="{{o.val}}">{{o.val}}</option>
      
    </select>
  </div>
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
