
<form class="form-horizontal" ng-controller="load">
<fieldset>

<!-- Form Name -->
<legend>Find Restaurant</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="searchby">Search By</label>
  <div class="col-md-2">
    <select ng-model="formData.searchby" class="form-control">
      <option value="city">City</option>
      <option value="zip">ZIP</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="term">Term</label>  
  <div class="col-md-2">
  <input type="text" placeholder="search" class="form-control input-md" required="" ng-model="formData.term">
    
  </div>
</div>
<hr>

<!-- Select Inputs -->
<div class="form-group" ng-repeat="f in formSelectData">
  <label class="{{f.labelClass}}" >{{f.name | uppercase}}</label>
  <div class="{{f.divClass}}">
    <select class="{{f.selectClass}}" ng-model="formData[f.model]">
      <option ng-repeat="o in f.selectOptions" value="{{o}}">{{o}}</option>
    </select>
  </div>
</div> 

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button class="btn btn-info" ng-click="submit(formData)">Submit</button>
  </div>
</div>

</fieldset>
</form>

<pre>{{formData}}</pre>


